<div class="form-wrapper">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <% } %>

    <p class="notice">Confirm Deletion - This action is permanent and cannot be undone.</p>

    <form class="form-container" action="/inv/delete" method="post">
        <fieldset>
            <div class="form-group">
                <label for="inv_make">Make:</label>
                <input type="text" id="inv_make" name="inv_make" readonly value="<%= inv_make %>">
            </div>

            <div class="form-group">
                <label for="inv_model">Model:</label>
                <input type="text" id="inv_model" name="inv_model" readonly value="<%= inv_model %>">
            </div>

            <div class="form-group">
                <label for="inv_year">Year:</label>
                <input type="number" id="inv_year" name="inv_year" readonly value="<%= inv_year %>">
            </div>

            <div class="form-group">
                <label for="inv_price">Price:</label>
                <input type="number" id="inv_price" name="inv_price" readonly value="<%= inv_price %>">
            </div>

            <div class="form-group form-group-full">
                <button type="submit">Delete Vehicle</button>
            </div>
            <input type="hidden" name="inv_id" value="<%= inv_id %>">
        </fieldset>
    </form>
</div>