<div class="form-wrapper">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <% } %>

    <form class="form-container" id="updateForm" action="/inv/update" method="post">
        <fieldset>
            <div class="form-group">
                <label for="classificationList">Classification:</label>
                <%- classificationSelect %>
            </div>

            <div class="form-group">
                <label for="inv_make">Make:</label>
                <input type="text" id="inv_make" name="inv_make" required value="<%= inv_make %>">
            </div>

            <div class="form-group">
                <label for="inv_model">Model:</label>
                <input type="text" id="inv_model" name="inv_model" required value="<%= inv_model %>">
            </div>

            <div class="form-group form-group-full">
                <label for="inv_description">Description:</label>
                <textarea id="inv_description" name="inv_description" required><%= inv_description %></textarea>
            </div>

            <div class="form-group">
                <label for="inv_image">Image Path:</label>
                <input type="text" id="inv_image" name="inv_image" required value="<%= inv_image %>">
            </div>

            <div class="form-group">
                <label for="inv_thumbnail">Thumbnail Path:</label>
                <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= inv_thumbnail %>">
            </div>

            <div class="form-group">
                <label for="inv_price">Price:</label>
                <input type="number" id="inv_price" name="inv_price" required value="<%= inv_price %>">
            </div>

            <div class="form-group">
                <label for="inv_year">Year:</label>
                <input type="number" id="inv_year" name="inv_year" required value="<%= inv_year %>">
            </div>

            <div class="form-group">
                <label for="inv_miles">Miles:</label>
                <input type="number" id="inv_miles" name="inv_miles" required value="<%= inv_miles %>">
            </div>

            <div class="form-group">
                <label for="inv_color">Color:</label>
                <input type="text" id="inv_color" name="inv_color" required value="<%= inv_color %>">
            </div>

            <div class="form-group form-group-full">
                <button type="submit" disabled>Update Vehicle</button>
            </div>
            <input type="hidden" name="inv_id" value="<%= inv_id %>">
        </fieldset>
    </form>
</div>

<script src="../../js/inv-update.js"></script>